<div class="navigation_options">
  <ul>
    <li data-view='TotalView'> Overall Usage </li>
    <li data-view='LargestView'> Largest Files </li>
    <li data-view='FileTypeView'> Usage by File Type </li>
  </ul>
</div>
<div class="stage">
  <h2 class="intro_heading">  Welcome!  Click around to learn more about how you're using
    space in your Dropbox! </h2>
</div>
